/* General Styling for the home page */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins, sans-serif;
}
*,
:after,
:before {
  box-sizing: border-box;
}
div {
  display: block;
  unicode-bidi: isolate;
}
body {
  font-family: Arial, sans-serif;
}
.home-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 80px;
  /* height:100vh; */
  background-image: url("../../assets/image//background-home-img.svg");
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
}

/* Text content styles */
.text-content {
  max-width: 600px;
}

/* Title styling */
.text-content h3 {
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 700;
  color: #222;
  margin-bottom: 5px;
  margin-left: 50px;
}

/* Paragraph styling */
.text-content p {
  font-size: 1.2rem;
  color: #555;
  line-height: 1.8;
  margin-bottom: 30px;
  margin-left: 50px;
}

/* Join button styling */
.join-btn {
  background: linear-gradient(to right, #f97316, #f86d38);
  color: white;
  padding: 15px 30px;
  text-decoration: none;
  font-weight: 600;
  border-radius: 50px;
  transition: background 0.3s ease;
  margin-left: 50px;
}

.join-btn:hover {
  background: linear-gradient(to right, #f86d38, #f97316);
  cursor: pointer;
}

/* Image content */
.image-content {
  flex: 1; /* Takes up the remaining space */
  text-align: right; /* Aligns the image to the right */
}

.illustration-image {
  max-width: 90%;
  height: auto; /* Keeps the aspect ratio */
}

/* Responsive design */
@media (max-width: 768px) {
  .home-page {
    flex-direction: column;
    padding: 20px;
    text-align: center;
  }

  .image-content {
    margin-top: 20px;
    text-align: center;
  }

  .illustration-image {
    display: none;
  }

  .text-content h3 {
    font-size: 2rem;
    padding-top: 80px;
  }

  .text-content p {
    font-size: 1rem;
  }
}
@media (max-width: 480px) {
  .illustration-image {
    max-width: 50%; /* Further reduce the image size for extra small screens */
  }

  .text-content h3 {
    font-size: 1.5rem; /* Further reduce title size */
  }

  .text-content p {
    font-size: 0.9rem; /* Reduce paragraph text for better fit */
  }

  .join-btn {
    padding: 10px 20px; /* Further adjust button padding */
  }
}
